body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    background-color: lightskyblue;
}
.flex-container {
    display: flex;
}
.header {
    text-align: center;
    background-color: black;
    color: lightskyblue
}

.first {
    font-size: 50px;
}

.second {
    font-size: 40px;
}

.third {
    font-size: 45px;
}
li {
    padding: 15px 0;
}
img {
    display: block;
    margin: 0 auto;
    padding: 24px;
}

.button {
    background-color: rgb(189, 144, 189);
    margin: 4px auto;
    padding: 4px;
    width: fit-content;
    border-style: inset inset;
    border-color: black;

}
.nav {
    position: absolute;
    width: 300px;
    height: fit-content;
    background-color: black;
}
.main-page {
    word-wrap: break-word;
    border-style: inset inset;
    border-color: lightskyblue;
    background-color: black;
    color: white;
    padding: 4px;
    margin: 0 auto;
    width: 600px;
    flex: 3;
}

.chef-hat {
    position: relative;
    width: auto;
    height: 400px;
}

.apple{
    background-color: rgb(165, 29, 29);
}

p {
    text-align: center;
    padding: 0 40px;
    margin-top: 30px;
}

.ingredients {
    color: orchid;
    background-color: black;
}

.tools {
    color:rgb(185, 40, 185);
    background-color: black;
}

.cooking {
    background-color: orchid;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
}
